<script setup>
import WarningBox from "../components/WarningBox.vue";
import InputField from "../components/InputBox.vue";
import CustomSelect from "../components/CustomSelect.vue";
import PrimaryButton from "../components/PrimaryButton.vue";
import ModalContainer from "@/components/ModalContainer.vue";

import { range } from "range";
import { ref } from "vue";
const exp_month = ref("Month");
const exp_year = ref("Year");
const showModal = ref(false);
const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
</script>
<template>
  <ModalContainer v-bind:showModal="showModal" @closeModal="showModal = false">
    <div class="p-4 bg-white rounded-md flex flex-col gap-8 text-center">
      <div class="mx-auto p-4 bg-green-200 w-[240px] mt-8 rounded-lg">
        <img src="../assets/shield.png" />
      </div>
      <h1 class="font-semibold text-2xl">Booking Successful</h1>
      <p class="w-[400px]">
        Congratulations your reservation has been made. You will be notified 2
        days prior the date.
      </p>
      <PrimaryButton class="mb-4" @click="$router.push('/my-trips')">
        <p class="font-normal">View Trip</p>
      </PrimaryButton>
    </div>
  </ModalContainer>
  <h1 class="text-3xl font-semibold">Secure your reservation</h1>
  <div class="my-8">
    <WarningBox></WarningBox>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <div id="left-container" class="flex flex-col gap-8 col-span-2">
      <div id="room-info" class="rounded-lg bg-white">
        <div class="p-4 bg-blue-500 rounded-t-lg flex gap-4 text-white">
          <v-icon name="ri-shield-user-fill" scale="1.2"></v-icon>
          <h1 class="font-medium">Room 1</h1>
          <h3>2 adults, 1 double bed and 1 twin bed, Non-smoking</h3>
        </div>
        <div class="p-6 flex flex-col gap-6 w-3/5">
          <div class="flex gap-8 font-medium">
            <div class="w-1/2">
              <h1>First name</h1>
              <InputField></InputField>
            </div>
            <div class="w-1/2">
              <h1>Last name</h1>
              <InputField></InputField>
            </div>
          </div>
          <div class="font-medium">
            <vue-tel-input
              v-model="phone"
              mode="international"
              :dropdownOptions="{
                showDialCodeInSelection: true,
                showFlags: true,
              }"
            ></vue-tel-input>
          </div>
          <div class="flex items-center gap-3">
            <input type="checkbox" id="notifications" />
            <label for="#notifications">
              Receive text alerts about this trip.
            </label>
          </div>
        </div>
      </div>
      <div id="payment-info" class="rounded-lg bg-white">
        <div class="p-4 bg-blue-500 rounded-t-lg flex gap-4 text-white">
          <v-icon name="ri-shield-user-fill" scale="1.2"></v-icon>
          <h1 class="font-medium">Payment options</h1>
        </div>
        <div class="px-8 pt-4 border-b border-b-gray-300">
          <h1 class="border-b-4 py-1 border-b-blue-400 w-fit">
            Debit/Credit Card
          </h1>
        </div>
        <div class="flex flex-col gap-4 font-medium p-8 w-3/5">
          <div>
            <h1 class="mb-1">Name on card</h1>
            <InputField></InputField>
          </div>
          <div>
            <h1 class="mb-1">Debit/Credit card number</h1>
            <InputField></InputField>
          </div>
          <div class="flex gap-4">
            <div class="basis-1/2">
              <h1 class="mb-1">Expiration Date</h1>
              <CustomSelect
                v-model="exp_month"
                :options="months"
              ></CustomSelect>
            </div>
            <div class="basis-1/2">
              <h1 class="mb-1">&#8205;</h1>
              <CustomSelect
                v-model="exp_year"
                :options="
                  range(
                    new Date().getFullYear(),
                    new Date().getFullYear() + 11,
                    1
                  )
                "
              ></CustomSelect>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="grow">
              <h1 class="mb-1">Security Code</h1>
              <InputField></InputField>
            </div>
            <div class="grow">
              <h1 class="mb-1">Billing Zip code</h1>
              <InputField></InputField>
            </div>
          </div>
        </div>
      </div>
      <div id="warning-info" class="rounded-lg bg-white">
        <div class="p-4 bg-yellow-500 rounded-t-lg font-medium text-black">
          <h3>Important information about your booking</h3>
        </div>
        <div class="p-6">
          <ol>
            <li>
              1. This rate is non-refundable. If you change or cancel your
              booking you will not get a refund or credit to use for a future
              stay.
            </li>
            <li>2. Stay extensions will require a new reservation.</li>
            <li>3. Front desk staff will greet guests on arrival</li>
            <li>
              4. No refunds will be issued for late check-in or early check-out.
            </li>
          </ol>
          <h3 class="my-4">
            By clicking the button below, I acknowledge that I have reviewed the
            <span class="text-blue-600">Privacy Statement</span>
            and have reviewd and accept the
            <span class="text-blue-600">Rules and Restrictions</span>
            and
            <span class="text-blue-600">Terms of Use</span>
            .
          </h3>
          <div class="w-fit">
            <PrimaryButton class="my-4" @click="showModal = true">
              <h2 class="py-2 font-medium">Complete Booking</h2>
            </PrimaryButton>
          </div>
          <div class="flex items-center gap-3">
            <div class="p-1 rounded-full bg-green-600">
              <v-icon name="md-lock-round" fill="white" scale="1.1"></v-icon>
            </div>
            We use secure transmission and encrypted storage to protect your
            personal information
          </div>
        </div>
      </div>
    </div>

    <div id="right-container" class="col-span-1 flex flex-col gap-8">
      <div id="room-image" class="rounded-md overflow-hidden">
        <div class="w-full">
          <img
            src="../assets/trip-1.jpg"
            class="object-cover"
            height="180px"
            alt="room"
          />
        </div>
        <div class="px-6 py-8 bg-white">
          <h1>Lakeside Motel Warefront</h1>
          <h3>4.5 (1200 Reviews)</h3>
          <div class="mt-3 flex flex-col gap-1">
            <p class="text-red-600">Non refundable</p>
            <p>Check in: Sunday, March 18, 2022</p>
            <p>Check out: Tuesday, March 20, 2022</p>
            <p>2 night stay</p>
          </div>
        </div>
      </div>

      <div
        id="price-details"
        class="rounded-lg bg-white border border-gray-200"
      >
        <div class="p-4 bg-green-300 rounded-t-lg">
          <h1 class="font-medium">Price details</h1>
        </div>
        <div class="px-4 py-6">
          <div class="flex justify-between">
            <p>1 room X 2 nights</p>
            <p>$ 120.32</p>
          </div>
          <div class="flex justify-between mt-2">
            <p>Tax and service fees</p>
            <p>$ 8.32</p>
          </div>
        </div>
        <div id="total" class="border-t border-t-gray-200">
          <div class="flex justify-between px-4 py-6">
            <h1 class="font-medium">Total</h1>
            <h1 class="font-medium">$ 128.64</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-- override tel input styles -->
<style>
.vti__dropdown {
  margin-right: 10px;
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 140px;
  z-index: 100;
}
.vue-tel-input {
  border: none;
}
.vti__input {
  background-color: #f2f2f2;
  border-radius: 6px;
  height: 50px;
}
.vti__selection {
  justify-content: space-between;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}
input[type="checkbox"]:checked {
  background-color: #1a73e8;
  border: none;
}
.defined-height {
  height: 180px;
  overflow: hidden;
}
</style>
