<template>
  <div class="home">
    <div>
      <HomeHero />
    </div>
    <div class="py-12"><WarningBox /></div>
    <div class="flex flex-col gap-2">
      <h1 class="text-2xl font-semibold">Enjoy your dream vacation</h1>
      <p>
        Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us
      </p>
      <div class="flex justify-between mt-3">
        <LocationCard
          imgSrc="australia.png"
          name="Australia"
          :propertiesNo="2246"
        ></LocationCard>
        <LocationCard
          imgSrc="japan.png"
          name="Japan"
          :propertiesNo="1278"
        ></LocationCard>
        <LocationCard
          imgSrc="nzealand.png"
          name="New Zealand"
          :propertiesNo="480"
        ></LocationCard>
        <LocationCard
          imgSrc="greece.png"
          name="Greece"
          :propertiesNo="320"
        ></LocationCard>
      </div>
    </div>
    <div class="flex flex-col gap-2 mt-12">
      <h1 class="text-2xl font-semibold">Get inspiration for your next trip</h1>
      <div class="flex justify-between mt-3">
        <InspirationCard
          imgSrc="sea.jpg"
          title="Sydeny’s 10 most fashionable 5 star hotels"
          subtitle="Browse the fastest growing tourism sector in the heart of Australia tourism capital ...."
        ></InspirationCard>
        <InspirationCard
          imgSrc="restaurant.jpg"
          title="Top cities for Vegan Travellers"
          subtitle="Top sites where you do not have to worry about being a vegan. Our tourist guide is here..."
        ></InspirationCard>
        <InspirationCard
          imgSrc="nature.jpg"
          title="World’s top destinations during and post covid timeline"
          subtitle="Pandemic is still intact and will be here for a longer time. Here’s where your next destination..."
        ></InspirationCard>
      </div>
    </div>
    <div class="flex flex-col gap-2 mt-12">
      <h1 class="text-2xl font-semibold">Popular hotels</h1>
      <div class="flex justify-between mt-3">
        <LocationCard
          imgSrc="lakeside.png"
          name="Lakeside Motel Warefront"
          :propertiesNo="2246"
          :imageDimensions="{ width: '295px', height: '300px' }"
        ></LocationCard>
        <LocationCard
          imgSrc="recce.png"
          name="Recce Graham resort"
          :propertiesNo="1278"
          :imageDimensions="{ width: '295px', height: '300px' }"
        ></LocationCard>
        <LocationCard
          imgSrc="fireside.png"
          name="Fireside Dinners"
          :propertiesNo="480"
          :imageDimensions="{ width: '295px', height: '300px' }"
        ></LocationCard>
        <LocationCard
          imgSrc="oculous.png"
          name="Oculous Inn Stay"
          :propertiesNo="320"
          :imageDimensions="{ width: '295px', height: '300px' }"
        ></LocationCard>
      </div>
    </div>
    <div class="flex flex-col gap-2 mt-12">
      <div
        class="flex-col overflow-hidden rounded-md relative flex min-h-[280px] pl-16 pr-20 max-md:px-5"
      >
        <img
          loading="lazy"
          src="../assets/hero-bottom-bg.png"
          class="absolute h-full w-full object-cover object-center inset-0"
        />
        <img
          loading="lazy"
          class="absolute right-0 w-[720px] h-[515px] max-w-full -top-20 -rotate-[15deg]"
          src="../assets/hand-with-phone.png"
        />
        <div
          class="relative text-white text-3xl font-semibold leading-10 w-[580px] max-w-full mt-16 max-md:mt-10"
        >
          Download the mobile application for bonus coupons and travel codes
        </div>
        <button
          class="relative w-fit text-white text-base font-medium whitespace-nowrap justify-center bg-blue-500 mt-8 mb-16 px-5 py-3 rounded-md max-md:mb-10"
        >
          Download mobile app
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2 my-12 items-center">
      <h1 class="text-3xl font-semibold">
        Explore the world with My Dream place
      </h1>
      <h3 class="text-[#2F80ED]">Discover new places and experiences</h3>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import WarningBox from "@/components/WarningBox.vue";
import LocationCard from "@/components/LocationCard.vue";
import InspirationCard from "@/components/InspirationCard.vue";
import HomeHero from "@/components/HomeHero.vue";
export default {
  name: "HomeView",
  components: {
    WarningBox,
    LocationCard,
    InspirationCard,
    HomeHero,
  },
};
</script>
