<script setup>
import WarningBox from "@/components/WarningBox.vue";
import RoomCard from "@/components/RoomCard.vue";
import { useRoute } from "vue-router";
import { ref } from "vue";
import instance from "@/api/api";
import dayjs from "dayjs";
import { LMap, LTileLayer } from "@vue-leaflet/vue-leaflet";
import "leaflet/dist/leaflet.css";
const route = useRoute();
const hotelDetails = ref(null);
const zoom = ref(17);
function fetchFromStorage() {
  return JSON.parse(localStorage.getItem("searchDetails"));
}

async function fetchDetailsFromApi() {
  let id = route.params.id;
  let storageInfo = fetchFromStorage();
  let result = await instance.get(`hotels/getHotelDetails`, {
    params: {
      hotel_id: id,
      arrival_date: dayjs(storageInfo.startDate).format("YYYY-MM-DD"),
      departure_date: dayjs(storageInfo.endDate).format("YYYY-MM-DD"),
      languagecode: "en-us",
      currency_code: "USD",
    },
  });
  hotelDetails.value = result.data.data;
  let descriptionResult = await instance.get(`hotels/getDescriptionAndInfo`, {
    params: {
      hotel_id: id,
      languagecode: "en-us",
    },
  });
  hotelDetails.value.description = descriptionResult.data.data[0].description;
}
await fetchDetailsFromApi();
</script>
<template>
  <div id="top-main-container" class="mt-4">
    <div
      class="w-10/12 mx-auto grid grid-rows-2 grid-cols-5 gap-y-4 gap-x-4 bg-white max-h-[550px] overflow-hidden"
    >
      <div class="col-span-3 row-span-2 rounded-lg overflow-hidden">
        <img class="object-cover w-full" src="../assets/main.png" />
      </div>
      <div class="col-span-2 row-span-1 overflow-hidden rounded-lg">
        <img class="object-cover w-full" src="../assets/side-top.png" />
      </div>
      <div class="col-span-2 row-span-1 rounded-lg overflow-hidden">
        <img class="object-cover w-full" src="../assets/side-bottom.png" />
      </div>
    </div>
  </div>
  <div
    class="mt-12 w-10/12 mx-auto text-xl border-b-2 border-b-gray-200 flex gap-3"
  >
    <div class="px-1 mx-2 border-b-4 border-b-blue-400">
      <a href="#">Overview</a>
    </div>
    <div>
      <a href="#rooms">Rooms</a>
    </div>
  </div>
  <div class="pt-8" id="bottom-main-container">
    <div class="flex gap-8 w-10/12 mx-auto">
      <div id="left-container" class="basis-3/5">
        <h1 class="font-bold text-4xl">{{ hotelDetails.hotel_name }}</h1>
        <h3 class="my-4">4.5 ({{ hotelDetails.review_nr }} Reviews)</h3>
        <h3>
          <span class="font-bold text-blue-600">
            <v-icon name="co-location-pin" scale="1.1"></v-icon>
          </span>
          {{ hotelDetails.address }}
        </h3>
        <div id="inner-white-container" class="p-8 bg-white rounded-lg mt-8">
          <h1 class="font-semibold text-2xl">Overview</h1>
          <p class="my-3">
            {{ hotelDetails.description }}
          </p>
          <hr />
          <h1 class="my-2 font-semibold">Top facilities</h1>
          <div class="grid grid-rows-3 grid-cols-4 grid-flow-col">
            <div
              :key="benefit.icon"
              v-for="benefit in hotelDetails.top_ufi_benefits"
            >
              {{ benefit.translated_name }}
            </div>
          </div>
        </div>
      </div>
      <div id="right-container" class="flex flex-col gap-4 basis-2/5">
        <div id="map" class="w-full">
          <l-map
            style="height: 300px; width: 100%"
            v-model="zoom"
            v-model:zoom="zoom"
            :center="[hotelDetails.latitude, hotelDetails.longitude]"
          >
            <l-tile-layer
              url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
              layer-type="base"
              name="OpenStreetMap"
            ></l-tile-layer>
          </l-map>
        </div>
        <div id="explore">
          <h1 class="text-xl font-semibold mb-4">Explore the area</h1>
          <div class="flex flex-col gap-3">
            <div class="flex gap-2 items-center">
              <v-icon name="gi-commercial-airplane"></v-icon>
              <h3 class="grow">Hotel Penselvenyia</h3>
              <h3>2 min drive</h3>
            </div>
            <div class="flex gap-2 items-center">
              <v-icon name="hi-solid-location-marker"></v-icon>
              <h3 class="grow">Travis Bakery store house</h3>
              <h3>10 min drive</h3>
            </div>
            <div class="flex gap-2 items-center">
              <v-icon name="hi-solid-location-marker"></v-icon>
              <h3 class="grow">Travis Bakery store house</h3>
              <h3>15 min drive</h3>
            </div>
            <div class="flex gap-2 items-center">
              <v-icon name="hi-solid-location-marker"></v-icon>
              <h3 class="grow">Travis Bakery store house</h3>
              <h3>18 min drive</h3>
            </div>
            <div class="flex gap-2 items-center">
              <v-icon name="hi-solid-location-marker"></v-icon>
              <h3 class="grow">Travis Bakery store house</h3>
              <h3>32 min drive</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-10/12 mx-auto" id="rooms">
      <h1 class="font-bold text-4xl py-8">Available rooms</h1>
      <div id="rooms-container" class="flex gap-8">
        <div class="rounded-xl gap-4 p-8 max-w-fit" id="promotional-card">
          <img id="standing-man" src="../assets/standingman.png" />

          <div class="text-white">
            <div class="flex gap-2 items-center text-white text-xl my-6">
              <v-icon name="plane-tilted" scale="2"></v-icon>
              <p>my Dream Place</p>
            </div>
            <div class="w-[195px] text-2xl font-semibold">
              <h1>20% off</h1>
              <h1>Use Promotional Coupon Code:</h1>
              <h1 class="text-[#FFD723]">Orlando</h1>
            </div>
          </div>
        </div>
        <RoomCard
          v-for="room in hotelDetails.rooms"
          title="Standard twin ben, Multiple beds"
          imgURL="room1.jpg"
          v-bind:key="room.room_id"
          :room="room"
        />
      </div>
    </div>
  </div>
  <div id="gray-bg" class="py-12">
    <div class="w-10/12 mx-auto">
      <WarningBox />
    </div>
  </div>
</template>
<style scoped>
#bottom-main-container {
  background-color: #f4f4f4;
}
#top-main-container {
  background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #fff 100%);
}
#promotional-card {
  background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
  height: 340px;
  min-width: 400px;
  position: relative;
}
#standing-man {
  position: absolute;
  right: 10%;
}
#gray-bg {
  background-color: #f4f4f4;
}
</style>
```
