<script setup>
import SearchBar from "../components/SearchBar.vue";
import SearchFilters from "../components/SearchFilters.vue";
import ResultCard from "../components/ResultCard.vue";
import WarningBox from "../components/WarningBox.vue";
import CustomSelect from "../components/CustomSelect.vue";
import dayjs from "dayjs";
import { range } from "range";
// import instance from "@/api/api";
import { ref, onMounted, watch, computed } from "vue";
import instance from "@/api/api";
const sortEnum = {
  Price: "price",
  Rating: "byesian_review_score",
  Popularity: "popularity",
};
const sortBy = ref("Popularity");
const budget = ref({
  min: 0,
  max: 99999,
});
const page = ref(1);
const results = ref([]);
const search = ref("");
const title = ref("");
const totalPages = ref(0);
const computedResults = computed(() => {
  return results.value.filter((result) => {
    return result.property.name
      .toLowerCase()
      .includes(search.value.toLocaleLowerCase());
  });
});
let searchParams = ref({
  location: "",
  locationId: "",
  locationType: "",
  adults: 0,
  children: 0,
  rooms: 0,
  startDate: "",
  endDate: "",
});
function fetchFromStorageIfExists() {
  if (!localStorage.getItem("searchDetails")) return;
  const savedSearch = JSON.parse(localStorage.getItem("searchDetails"));
  if (savedSearch) {
    searchParams.value = savedSearch;
  }
}
watch([searchParams, sortBy, page], () => {
  fetchFromApi();
  //   localStorage.setItem("searchDetails", JSON.stringify(newVal));
});

function fetchFromApi() {
  const arrival_date = dayjs(searchParams.value.startDate).format("YYYY-MM-DD");
  const departure_date = dayjs(searchParams.value.endDate).format("YYYY-MM-DD");

  instance
    .get("hotels/searchHotels", {
      params: {
        dest_id: searchParams.value.locationId,
        search_type: searchParams.value.locationType,
        arrival_date,
        departure_date,
        adults: searchParams.value.adults,
        children_age: searchParams.value.children,
        room_qty: searchParams.value.rooms,
        page_number: page.value,
        price_min: budget.value.min,
        price_max: budget.value.max,
        sort_by: sortEnum[sortBy.value],
      },
    })
    .then((result) => {
      results.value = result.data.data.hotels;
      if (result.data.data.meta?.[0]?.title) {
        title.value = result.data.data.meta?.[0]?.title ?? "0 properties";
        totalPages.value =
          parseInt(result.data.data.meta?.[0]?.title) / 20 ?? 0;
      }
    });
}

function handleSearch(e) {
  searchParams.value = e;
}
function handleFilter(e) {
  search.value = e.search;
  if (budget.value.min !== e.min_budget || budget.value.max !== e.max_budget) {
    budget.value.min = e.min_budget;
    budget.value.max = e.max_budget;
    fetchFromApi();
  }
}
onMounted(() => {
  fetchFromStorageIfExists();
});
</script>

<template>
  <div class="flex justify-center items-center h-[200px]" id="search-hero">
    <SearchBar @search="handleSearch" />
  </div>
  <div class="flex gap-4 mt-[10vh]">
    <SearchFilters @filter="handleFilter" />
    <div id="search-results" class="grow flex flex-col gap-4">
      <div class="flex justify-between w-full">
        <h1 class="font-semibold text-2xl">
          {{ searchParams.location }}: {{ title }}
        </h1>
        <div class="min-w-[200px]">
          <CustomSelect
            :options="['Price', 'Rating', 'Popularity']"
            v-model="sortBy"
            class="w-[200px]"
          />
        </div>
      </div>
      <div v-if="computedResults.length > 0" class="flex flex-col gap-4">
        <ResultCard
          v-for="result in computedResults"
          :item="result"
          v-bind:key="result.property.id"
        ></ResultCard>
      </div>

      <div v-else class="flex justify-center items-center h-[50vh]">
        <h1 class="font-semibold text-2xl">No results found</h1>
      </div>
      <div class="items-center gap-2 flex">
        <div
          class="p-2 bg-white border-gray-300 border rounded-md cursor-pointer"
          v-for="item in range(
            page != 1 ? page - Math.min(page - 1, 2) : page,
            Math.min(page + 3, totalPages)
          )"
          :class="{ 'bg-gray-400 text-white': item === page }"
          :key="item"
          @click="page = item"
        >
          {{ item }}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <WarningBox />
  </div>
</template>
<style>
#search-hero {
  background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
.styled-select {
  position: relative;
  display: inline-block;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  height: 50px;
}

select:focus {
  outline: none;
  border-color: #007bff; /* Change the border color on focus */
}

/* Style for the arrow icon */
.arrow {
  position: absolute;
  top: 51%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style for the animated placeholder */
.placeholder {
  position: absolute;
  top: 55%;
  left: 10px;

  pointer-events: none;
  transition: all 0.3s ease-out;
  color: #aaa;
}

select:focus + .placeholder,
select:not(:placeholder-shown) + .placeholder {
  transform: translateY(-150%);
  font-size: 12px;
  color: #333;
}
</style>
