<script setup>
import InputBox from "../components/InputBox.vue";
import PrimaryButton from "../components/PrimaryButton.vue";
import { ref } from "vue";
import { useRouter } from "vue-router";
const isPasswordVisible = ref(false);
const password = ref("");
const email = ref("");
const router = useRouter();
function togglePasswordVisibility() {
  isPasswordVisible.value = !isPasswordVisible.value;
}
const signIn = () => {
  let token = JSON.stringify({ email: email.value, password: password.value });
  localStorage.setItem("user", JSON.stringify({ email: email.value }));
  localStorage.setItem("token", btoa(token));
  router.push("/");
};
</script>
<template>
  <div
    class="flex flex-col gap-4 items-center justify-center min-h-[50vh] max-w-fit mx-auto"
  >
    <h1 class="text-3xl text-center">Sign In</h1>
    <div>
      <label for="email">Email address</label>
      <InputBox class="w-[400px]" v-model="email"></InputBox>
    </div>
    <div>
      <label for="password">Password</label>
      <InputBox
        class="w-[400px]"
        :type="isPasswordVisible ? 'text' : 'password'"
        v-model="password"
      >
        <template v-slot:endAdornment>
          <button @click="togglePasswordVisibility()">
            <v-icon
              :name="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"
            ></v-icon>
          </button>
        </template>
      </InputBox>
    </div>
    <PrimaryButton @click="signIn">Sign In</PrimaryButton>
    <p class="text-sm text-gray-500">
      Don't have an account?
      <router-link to="/register" class="text-blue-500">Register</router-link>
    </p>
  </div>
</template>
