<template>
  <div
    class="dd__custom-select rounded-md"
    :class="{
      'w-full': fullWidth,
    }"
  >
    <div
      class="dd__select-trigger flex items-center justify-between"
      @click="toggleOptions"
    >
      <div class="flex gap-2">
        <slot name="startIcon" />
        {{ modelValue || placeHolder }}
      </div>
      <slot name="endIcon" />
      <v-icon
        name="md-keyboardarrowdown"
        class="dd__arrow"
        :class="{
          dd__flipped: showOptions,
        }"
        v-if="!$slots.endIcon"
      />
    </div>
    <div
      class="dd__options-container rounded-md mt-1"
      :class="{
        dd__shown: showOptions,
      }"
    >
      <div
        class="dd__option"
        v-for="option in options"
        :key="option"
        @click="
          $emit('update:modelValue', option);
          selectOption(option);
        "
      >
        {{ option }}
      </div>
    </div>
  </div>
</template>
<script setup>
import { defineProps, defineEmits } from "vue";
import { ref } from "vue";

const showOptions = ref(false);
function toggleOptions() {
  showOptions.value = !showOptions.value;
}
function selectOption() {
  showOptions.value = false;
}
defineEmits(["update:modelValue"]);
defineProps({
  options: {
    type: Array,
    required: true,
    default: () => ["Option 1", "Option 2", "Option 3"],
  },
  fullWidth: {
    type: Boolean,
    default: true,
  },
  placeHolder: {
    type: String,
    default: "Select an option",
  },
  modelValue: {
    type: String,
    default: "",
  },
});
</script>
<style scoped>
.dd__custom-select {
  position: relative;
  display: block;
  min-width: 100%;
  width: auto;
}

.dd__arrow {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}
.dd__flipped {
  transform: rotate(180deg);
}
.dd__select-trigger {
  padding: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
}

.dd__options-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  background-color: #fff;
  z-index: 999999999;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
}
.dd__shown {
  transform: scaleY(1);
  border: 1px solid #ccc;
}

.dd__option {
  padding: 10px;
  cursor: pointer;
}

.dd__option:last-child {
  border-bottom: none;
}
</style>
