<script setup>
import { defineProps } from "vue";

defineProps({
  title: {
    type: String,
    required: true,
  },
  links: {
    type: Array,
    required: true,
  },
});
</script>
<template>
  <h1 class="font-bold mb-4">
    {{ title }}
  </h1>
  <ul>
    <li v-for="link in links" :key="link" class="text-[#4F4F4F]">
      <router-link to="#">{{ link }}</router-link>
    </li>
  </ul>
  <slot></slot>
</template>
