<script setup>
import SearchBar from "@/components/SearchBar.vue";
function getImageUrl() {
  return require("@/assets/sydney-min.jpg");
}
</script>
<template>
  <div
    class="h-[500px] rounded-xl flex flex-col justify-center items-center text-center relative"
    :style="`background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(${getImageUrl()}), lightgray 0px -72.075px; background-size: cover; background-position: center;`"
  >
    <h1 class="text-3xl font-semibold mb-3 text-white">
      Enjoy your dream vacation
    </h1>
    <h3 class="w-[650px] text-white">
      Plan and book our perfect trip with expert advice, travel tips,
      destination information and inspiration from us
    </h3>
    <SearchBar />
  </div>
</template>
