<script setup>
import { defineProps, defineEmits } from "vue";
defineProps({
  placeholder: String,
  modelValue: String,
});
defineEmits(["update:modelValue"]);
</script>
<template>
  <div class="flex rounded relative">
    <div class="absolute flex items-center justify-center right-2 h-full">
      <slot name="endAdornment"></slot>
    </div>
    <div class="absolute flex items-center justify-center left-2 h-full">
      <slot name="startAdornment"></slot>
    </div>
    <input
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      v-bind="$attrs"
      :placeholder="placeholder"
      class="p-2 bg-gray-100 text-black text-sm w-full overflow-hidden"
      :class="{
        'rounded-l': !$slots.startAdornment,
        'rounded-r': !$slots.endAdornment,
        'pl-8': $slots.startAdornment,
        'pr-8': $slots.endAdornment,
      }"
    />
  </div>
</template>
