<script setup>
import { defineProps } from "vue";
const props = defineProps({
  imgSrc: String,
  title: String,
  subtitle: String,
});
function getImgSrc() {
  return require(`@/assets/${props.imgSrc}`);
}
function getBackground() {
  return `background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url(${getImgSrc()});background-size:cover;`;
}
</script>
<template>
  <div
    class="w-[400px] h-[280px] relative rounded-xl flex flex-col p-4 justify-end text-white"
    :style="getBackground()"
  >
    <div class="font-semibold text-xl mb-2">{{ title }}</div>
    <div class="text-sm">{{ subtitle }}</div>
  </div>
</template>
