<script setup>
import { defineProps } from "vue";
let props = defineProps({
  imgSrc: String,
  name: String,
  propertiesNo: Number,
  imageDimensions: {
    type: Object,
    default: () => {
      return {
        width: "300px",
        height: "220px",
      };
    },
  },
});

function getImgSrc() {
  return require(`@/assets/${props.imgSrc}`);
}
</script>
<template>
  <div>
    <img
      :class="
        'rounded-xl' +
        ` w-[${imageDimensions.width}]` +
        ` h-[${imageDimensions.height}]`
      "
      :src="getImgSrc()"
    />
    <div class="mt-2">
      <h3 class="text-xl font-semibold">{{ name }}</h3>
      <p class="text-sm">{{ propertiesNo }} properties</p>
    </div>
  </div>
</template>
