<script setup>
import PrimaryButton from "./PrimaryButton.vue";
function isLoggedIn() {
  return !!localStorage.getItem("token");
}
</script>

<template>
  <section id="header" class="pb-4 z-10 relative">
    <div class="mx-auto flex justify-between items-center my-6 w-10/12">
      <img class="h-full" src="../assets/logo.png" />
      <div
        v-if="!$route.meta.hideNav"
        id="navigation-links"
        class="flex gap-12 items-center justify-center"
        :class="{ 'text-white': $route.meta.dark }"
      >
        <router-link to="/">Home</router-link>
        <router-link to="#">Discover</router-link>
        <router-link to="#">Activities</router-link>
        <router-link to="#">About</router-link>
        <router-link to="#">Contact</router-link>
      </div>
      <div v-if="!$route.meta.hideNav && !isLoggedIn()">
        <router-link to="/sign-in">
          <PrimaryButton>Login</PrimaryButton>
        </router-link>
      </div>
      <div v-if="isLoggedIn()" class="flex gap-4 items-center">
        <v-icon name="bi-bell-fill" scale="1.5" :fill="$route.meta.dark ? 'white' : 'black'"></v-icon>
        <img
          src="../assets/photo.jpg"
          class="rounded-full w-[45px] h-[45px] object-cover"
        />
      </div>
    </div>
  </section>
</template>
