<script setup>
import FooterBlock from "./FooterBlock.vue";
</script>
<template>
  <section v-if="!$route.meta.hideFooter" id="footer">
    <div class="mx-auto flex justify-between items-center my-6 w-10/12">
      <div>
        <footer-block
          title="Company"
          :links="['About', 'Jobs', 'Newsroom', 'Advertising', 'Contact us']"
        ></footer-block>
      </div>
      <div>
        <footer-block
          title="Explore"
          :links="[
            'Australia',
            'New Zealand',
            'United States America (USA)',
            'Greece',
            'Maldives',
            'Singapore',
          ]"
        ></footer-block>
      </div>
      <div>
        <footer-block
          title="Terms and Policies"
          :links="[
            'Privacy Policy',
            'Terms of use',
            'Acessibility',
            'Reward system policy',
          ]"
        ></footer-block>
      </div>
      <div>
        <footer-block
          title="Help"
          :links="[
            'Support',
            'Cancel your bookings',
            'Use Coupon',
            'Refund Policies',
            'International Travel Documents',
          ]"
        ></footer-block>
      </div>
    </div>
    <div class="bg-[#EBEBEB] p-[0.2px]">
      <div class="mx-auto flex justify-end items-center my-6 w-10/12">
        <p class="text-sm text-gray-500">&copy; my Dream Place 2022</p>
      </div>
    </div>
  </section>
</template>
