<script>
export default {
  setup(props, context) {
    const closeModal = () => {
      context.emit("closeModal");
    };
    console.log(props);
    return { closeModal, props };
  },
  props: {
    showModal: Boolean,
  },
  emits: ["closeModal"],
};
</script>
<template>
  <!-- Modal slate overlay -->
  <div
    v-if="showModal"
    class="fixed top-0 z-50 left-0 w-full h-full flex justify-center items-center bg-black/40"
    @click="closeModal"
  >
    <div class="modal-container" @click.stop>
      <div class="modal-body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
