<template>
  <div class="rounded w-full grow p-4 bg-white flex gap-4 items-center">
    <div id="room-image">
      <img
        src="../assets/trip-1.jpg"
        class="object-contain rounded-xl"
        width="330"
      />
    </div>
    <div class="grow">
      <h1 class="font-bold mb-2 text-2xl">Lakeside Motel Warefront</h1>
      <h3 class="mb-12">4.5 (1200 Reviews)</h3>
      <div class="grow justify-between flex">
        <div>
          <h3 class="text-red-500">Non refundable</h3>
          <h3>Check in: Sunday, Match 18,2022</h3>
          <h3>Check out: Tuesday, March 20, 2022</h3>
        </div>
        <div class="flex flex-col gap-4 items-end">
          <h1 class="text-2xl">
            <span
              id="slashed-price"
              class="text-red-500 text-lg line-through mr-2"
            >
              $ 150
            </span>
            $ 130
          </h1>
          <h3>Includes taxes and fees</h3>
          <PrimaryButton>
            <div class="py-1">View trip details</div>
          </PrimaryButton>
        </div>
      </div>
      <h3>2 night stay</h3>
    </div>
  </div>
</template>
<script setup>
import PrimaryButton from "../components/PrimaryButton.vue";
</script>
