<template>
  <div class="flex p-6 border border-black/20 rounded-lg gap-4 items-center">
    <div class="object-contain" id="result-image">
      <img class="w-[285px] h-[200px]" :src="item.property.photoUrls[0]" />
    </div>
    <div id="result-info" class="flex gap-2 flex-col grow">
      <div class="flex justify-between" id="result-title">
        <h1 class="font-semibold">{{ item.property.name }}</h1>
        <slot name="title-promo"></slot>
      </div>
      <div id="result-rating">
        {{ item.property.reviewScore }} ({{ item.property.reviewCount }}
        reviews)
      </div>
      <div id="result-description" class="flex justify-between text-[#4f4f4f]">
        <div class="max-w-[520px]">
          <p>Live a little and celbrate with champagne</p>
          <p>
            Reats include a glass of French champagne, parking and a late
            checkout. Gym included. Flexible cancellation applies
          </p>
        </div>
        <div>
          <div
            v-if="item.property.priceBreakdown?.strikethroughPrice"
            class="px-2 py-1 rounded-lg bg-green-700 text-white"
          >
            {{
              calculatePercentage(
                item.property.priceBreakdown?.grossPrice.value,
                item.property.priceBreakdown?.strikethroughPrice.value
              )
            }}% off
          </div>
        </div>
      </div>
      <div id="result-footer" class="flex justify-between font-normal">
        <div>
          <PrimaryButton @click="$router.push(`/details/${item.property.id}`)">
            See availability
          </PrimaryButton>
        </div>
        <div>
          <div class="flex justify-end gap-4 items-center">
            <h1
              v-if="item.property.priceBreakdown?.strikethroughPrice"
              id="slashed-price"
              class="text-red-500 line-through text-sm"
            >
              {{
                item.property.priceBreakdown?.strikethroughPrice.value.toFixed(
                  2
                )
              }}
              {{ item.property.priceBreakdown?.strikethroughPrice.currency }}
            </h1>
            <h1 id="price" class="text-xl text-black">
              {{ item.property.priceBreakdown.grossPrice.value.toFixed(2) }}
              {{ item.property.priceBreakdown.grossPrice.currency }}
            </h1>
          </div>
          <h3 class="text-black/60">Includes taxes and fees</h3>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { defineProps } from "vue";
import PrimaryButton from "./PrimaryButton.vue";
defineProps({
  item: {
    type: Object,
    required: true,
  },
});
function calculatePercentage(grossPrice, strikethroughPrice) {
  return Math.round(
    ((strikethroughPrice - grossPrice) / strikethroughPrice) * 100
  ).toFixed(0);
}
</script>
<style scoped>
#result-image {
  width: 285px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}
</style>
