<template>
  <div class="rounded-xl bg-white">
    <img width="400" :src="room?.photos?.[0]?.url_original" />
    <div class="p-8">
      <h1 class="font-semibold text-xl">{{ title }}</h1>
      <div class="flex flex-col gap-2 my-6 text-[#4F4F4F]">
        <!-- TODO: add icons -->
        <h1>
          <object
            class="inline-block"
            :data="require('../assets/bag-tick-2.svg')"
            type="image/svg+xml"
            width="20"
          />
          300 sq ft
        </h1>
        <h1>
          <v-icon name="co-life-ring"></v-icon>
          Sleeps 2
        </h1>
        <h1>
          <v-icon name="bi-hand-thumbs-up"></v-icon>
          {{
            room.bed_configurations
              .map((type) => type.bed_types[0].name_with_count)
              .join(" and ")
          }}
        </h1>
      </div>
      <PrimaryButton>
        <h1 class="py-1" @click="$router.push('/checkout')">Reserve suite</h1>
      </PrimaryButton>
    </div>
  </div>
</template>
<script setup>
import { defineProps } from "vue";
import PrimaryButton from "@/components/PrimaryButton.vue";
const props = defineProps({
  title: String,
  imgURL: String,
  room: Object,
});
console.log(props.room);
</script>
