<script>
import { Switch } from "@headlessui/vue";
import { ref, watch } from "vue";
import InputBox from "@/components/InputBox.vue";

const enabled = ref(false);
const search = ref("");
const budget = ref(JSON.stringify({ min: 0, max: 99999 }));

export default {
  setup(_, { emit }) {
    const minBudget = ref(0);
    const maxBudget = ref(0);
    watch([search, minBudget, maxBudget, budget], () => {
      if (enabled.value && minBudget.value > maxBudget.value) {
        maxBudget.value = parseInt(minBudget.value) + 100;
      }
      filter();
    });
    function filter() {
      let predefinedMin = JSON.parse(budget.value).min;
      let predefinedMax = JSON.parse(budget.value).max;
      emit("filter", {
        search: search.value,
        min_budget: enabled.value ? parseInt(minBudget.value) : predefinedMin,
        max_budget: enabled.value ? parseInt(maxBudget.value) : predefinedMax,
      });
    }
    return { enabled, search, budget, minBudget, maxBudget };
  },
  components: {
    InputBox,
    Switch,
  },
};
</script>
<template>
  <div id="filters" class="flex flex-col basis-80 gap-6">
    <div id="search-filter" class="p-4 rounded-lg">
      <h1 class="font-semibold pb-4">Search by property name</h1>
      <InputBox
        class="bg-white"
        placeholder="eg. Beach westpalm"
        v-model="search"
      >
        <template v-slot:startAdornment>
          <v-icon name="io-search-outline"></v-icon>
        </template>
      </InputBox>
    </div>
    <h1 class="font-semibold">Filter by</h1>
    <div id="budget-filter" class="rounded-lg overflow-hidden">
      <div class="px-4 py-3 bg-[#f2f2f2] font-semibold">
        Your budget per day
      </div>
      <div id="budgets-container" class="px-4 py-3 flex flex-col gap-2">
        <div class="flex items-center">
          <input
            type="radio"
            v-model="budget"
            class="mr-2"
            name="0"
            :value="JSON.stringify({ min: 0, max: 200 })"
            id="0"
          />
          <label for="0">$0 - $200</label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            v-model="budget"
            class="mr-2"
            name="0"
            :value="JSON.stringify({ min: 200, max: 500 })"
            id="0"
          />
          <label for="0">$200 - $500</label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            v-model="budget"
            class="mr-2"
            name="0"
            :value="JSON.stringify({ min: 500, max: 1000 })"
            id="0"
          />
          <label for="0">$500 - $1,000</label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            v-model="budget"
            class="mr-2"
            name="0"
            :value="JSON.stringify({ min: 1000, max: 2000 })"
            id="0"
          />
          <label for="0">$1,000 - $2,000</label>
        </div>
        <div class="flex items-center">
          <input
            type="radio"
            v-model="budget"
            class="mr-2"
            name="0"
            :value="JSON.stringify({ min: 2000, max: 5000 })"
            id="0"
          />
          <label for="0">$2,000 - $5,000</label>
        </div>
        <div class="flex justify-between mt-4" id="own-budget">
          <h1>Set your own budget</h1>
          <Switch
            v-model="enabled"
            :class="enabled ? 'bg-blue-600' : 'bg-gray-200'"
            class="relative inline-flex h-6 w-11 items-center rounded-full"
          >
            <span class="sr-only">Enable notifications</span>
            <span
              :class="enabled ? 'translate-x-6' : 'translate-x-1'"
              class="inline-block h-4 w-4 transform rounded-full bg-white transition"
            />
          </Switch>
        </div>
        <div class="flex justify-between gap-4">
          <InputBox
            id="budget-filter"
            class="bg-white"
            placeholder="Min budget"
            v-if="enabled"
            v-model="minBudget"
          ></InputBox>
          <InputBox
            id="budget-filter"
            class="bg-white"
            placeholder="Max budget"
            v-if="enabled"
            v-model="maxBudget"
          ></InputBox>
        </div>
      </div>
    </div>
    <div id="rating-filter">
      <div id="budget-filter" class="rounded-lg overflow-hidden">
        <div class="px-4 py-3 bg-[#f2f2f2] font-semibold">Rating</div>
        <div class="px-4 py-3">
          <h3>Show only ratings more than</h3>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
#lighterBG {
  background: #fff !important;
}

#search-container {
  position: relative;
  z-index: 1;
  width: 100%;
}
#search-filter {
  background: #f2f2f2;
}
</style>
<style>
#budget-filter {
  border: 1px solid #e0e0e0;
}
input[type="radio"] {
  outline: none;
  border: 1px solid #bdbdbd;
  appearance: none;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
input[type="radio"]:checked {
  background: #bdbdbd;
}
</style>
