<script>
import { Popover, PopoverButton, PopoverPanel } from "@headlessui/vue";
import { ref } from "vue";
import VueDatePicker from "@vuepic/vue-datepicker";
import PrimaryButton from "@/components/PrimaryButton.vue";
import CustomSelect from "@/components/CustomSelect.vue";
import instance from "@/api/api";
import { useRouter } from "vue-router";
//TODO: Validate input
const location = ref("Where are you going?");
const adults = ref(0);
const children = ref(0);
const rooms = ref(0);
const startDate = ref();
const endDate = ref();
const locations = ref([]);

function fetchLocations() {
  instance
    .get("hotels/searchDestination", {
      params: {
        query: "egypt",
      },
    })
    .then((res) => {
      locations.value = res.data.data;
    });
}

function useSavedSearch() {
  if (!localStorage.getItem("searchDetails")) return;
  const savedSearch = JSON.parse(localStorage.getItem("searchDetails"));
  if (savedSearch) {
    location.value = savedSearch.location;
    adults.value = savedSearch.adults;
    children.value = savedSearch.children;
    rooms.value = savedSearch.rooms;
    startDate.value = savedSearch.startDate;
    endDate.value = savedSearch.endDate;
  }
}

export default {
  setup(props, context) {
    const router = useRouter();
    function Search() {
      localStorage.setItem(
        "searchDetails",
        JSON.stringify({
          location: location.value,
          locationId: locations.value.find(
            (loc) => loc.label === location.value
          ).dest_id,
          locationType: locations.value.find(
            (loc) => loc.label === location.value
          ).dest_type,
          adults: adults.value,
          children: children.value,
          rooms: rooms.value,
          startDate: startDate.value,
          endDate: endDate.value,
        })
      );
      context.emit("search", {
        location: location.value,
        locationId: locations.value.find((loc) => loc.label === location.value)
          .dest_id,
        locationType: locations.value.find(
          (loc) => loc.label === location.value
        ).dest_type,
        adults: adults.value,
        children: children.value,
        rooms: rooms.value,
        startDate: startDate.value,
        endDate: endDate.value,
      });
      router.push("/search");
    }
    return {
      location,
      adults,
      children,
      rooms,
      startDate,
      endDate,
      locations,
      Search,
    };
  },
  mounted() {
    fetchLocations();
    useSavedSearch();
  },

  components: {
    Popover,
    PopoverButton,
    PopoverPanel,
    VueDatePicker,
    PrimaryButton,
    CustomSelect,
  },
};
</script>
<template>
  <div
    class="bg-white flex justify-between gap-2 absolute drop-shadow-md rounded-md -bottom-12 p-4 z-20"
  >
    <div class="grow min-w-[200px]">
      <CustomSelect
        :options="locations.map((location) => location.label)"
        v-model="location"
        class="h-full"
      />
    </div>
    <div>
      <VueDatePicker
        v-model="startDate"
        :enable-time-picker="false"
        placeholder="Check in date"
      />
    </div>
    <div>
      <VueDatePicker
        v-model="endDate"
        :enable-time-picker="false"
        placeholder="Check out date"
      />
    </div>

    <Popover as="div" class="text-black relative inline-block">
      <PopoverButton
        class="inline-flex items-center justify-between min-w-[11rem] rounded-md bg-[#F2F2F2] px-3 py-4 text-sm font-medium text-[#4F4F4F] focus:outline-none"
      >
        <v-icon name="ri-user-line"></v-icon>
        <p>{{ adults + children }} Guests</p>
        <v-icon name="md-keyboardarrowdown"></v-icon>
      </PopoverButton>
      <PopoverPanel
        class="absolute rounded-lg bg-white left-1/2 z-10 mt-1 w-screen max-w-[11rem] -translate-x-1/2 transform p-2 overflow-hidden"
      >
        <div class="flex px-2 py-4">
          <input
            type="number"
            class="max-w-[70px]"
            v-model="adults"
            placeholder="0"
            min="0"
            max="5"
          />
          Adults
        </div>
        <div class="flex px-2">
          <input
            type="number"
            class="max-w-[70px]"
            v-model="children"
            placeholder="0"
            min="0"
            max="5"
          />
          Children
        </div>
      </PopoverPanel>
    </Popover>
    <Popover as="div" class="text-black relative inline-block">
      <PopoverButton
        class="inline-flex items-center justify-between min-w-[11rem] rounded-md bg-[#F2F2F2] px-3 py-4 text-sm font-medium text-[#4F4F4F] focus:outline-none"
      >
        <v-icon name="md-bedroomparent-outlined"></v-icon>
        <p>{{ rooms }} Rooms</p>
        <v-icon name="md-keyboardarrowdown"></v-icon>
      </PopoverButton>
      <PopoverPanel
        class="absolute rounded-lg bg-white left-1/2 z-10 mt-1 w-screen max-w-[11rem] -translate-x-1/2 transform p-2 overflow-hidden"
      >
        <div class="flex px-2 py-4">
          <input
            type="number"
            class="max-w-[70px]"
            v-model="rooms"
            placeholder="0"
            min="0"
            max="5"
          />
          Rooms
        </div>
      </PopoverPanel>
    </Popover>
    <div class="min-w-[9rem]">
      <PrimaryButton @click="Search">Search</PrimaryButton>
    </div>
  </div>
</template>
