<script setup></script>
<template>
  <div class="flex gap-2 p-4 bg-[#FCEFCA] rounded">
    <v-icon name="bi-exclamation-triangle" scale="1.3"></v-icon>
    <p class="text-sm">
      Check the latest COVID-19 restrictions before you travel.
      <span class="text-[#2F80ED]">Learn more</span>
    </p>
  </div>
</template>
