<script setup>
import MainFooter from "./components/MainFooter.vue";
import MainHeader from "./components/MainHeader.vue";
import "@vuepic/vue-datepicker/dist/main.css";
</script>
<template>
  <MainHeader />
  <div
    id="body-container"
    class="py-16"
    :style="`background-color: ${$route.meta.bgColor ?? 'white'}`"
  >
    <div class="mx-auto grow" :class="$route.meta.fullWidth ? '' : 'w-10/12'">
      <Suspense>
        <router-view></router-view>
        <template #fallback>
          <div class="flex justify-center items-center h-96">
            <div class="text-4xl text-gray-400">Loading...</div>
          </div>
        </template>
      </Suspense>
    </div>
  </div>
  <MainFooter />
</template>

<style>
@import "./main.css";
</style>
