@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family : "work sans";
    src         : url("./assets/WorkSans.ttf") format("truetype");
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
*{
    font-family: "work sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
input.dp__input{
    width: 152px!important;
    background-color: #f2f2f2;
    height: 52px;
    border: none;
    padding-right: 10px;
}
input:focus-visible{
    outline: none;
}